body {
 background-color: black;
 text-align: center;
 color: darkcyan;
 font-family: Arial, Helvetica, sans-serif;
}
#page {
 color: darkcyan;
 background-color: black;
 border: 1px solid darkcyan;
 margin: 20px;
 height: 30px;
 width: 100px;
 transition: 0.3s;
}
#page:hover {
 color: darkcyan;
 background-color: white;
}
#root {
 color: white;
}
#products {
 display: grid;
 grid-template-columns: 33.333333% 33.333333% 33.333333%;
 height: 600px;
 border: 1px solid white;
}
#bord {
 border: 1px solid white;
}
img {
 width: 200px;
 height: 200px;
}
p {
 margin: 10px;
}
#add {
 height: 40px;
 width: 200px;
 color: white;
 background-color: darkcyan;
 position: relative;
 top: 100px;
 transition: 0.5s;
}
#add:hover {
 color: darkcyan;
 background-color: white;
}